<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>jQuery动态表格数据分页插件</title>
<link rel="stylesheet" type="text/css" href="../../css/managament_worker/MyPaging.css" th:href="@{/MyPaging.css}">

<script src="../../js/managament_worker/jquery-3.2.1.min.js" th:src="@{/jquery-3.2.1.min.js}"></script>

<style>
* {
	margin: 0;
	padding: 0;
}
.main {
	margin: 0 auto;
	padding: 50px 0;
	width: 1000px;
	min-height: 1000px;
}
table {
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
	border: none;
}
table th, table td {
	padding: 5px 10px;
	border-color: #999;
}
</style>

</head>
<body><script src="../../js/managament_worker/googlegg.js"></script>

<div class="main" id="main">
	
	<table border>
		<thead>
			<tr>
				<th>id</th>
				<th>姓名</th>
				<th>年龄</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody class="tbody">
			<tr>
				<td>1</td>
				<td>会计师看到</td>
				<td>50</td>
			</tr>
		</tbody>
	</table>

	<div class="box2"></div>
</div>

<script src="/MyPaging.js" th:src="@{/MyPaging.js}"></script>
<script src="/script.js" th:src="@{/script.js}"></script>

<div style="text-align:center;margin:-800px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>	
</html>
